/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
#root{
  height: 100%;
}
.containerHome{
  height: 100%;
  background-color: #131722;
}
::-webkit-scrollbar {
  display: none;
}
.protrade-properties-page{
  height: 100%;
  background-color: #131722;
  grid-template-rows:42px 420px 1fr;
}
