
#root{
  height: 100vh !important;
}
.containerHome{
  height: 100vh;
  background-color: #131722;
}
::-webkit-scrollbar {
  display: none;
}
.protrade-properties-page{
  height: 100%;
  background-color: #131722;
  grid-template-rows:42px 420px 1fr;
}
